#recipe-view{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 10vh;
    background-color: #DEE4D8;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid #53634E;
    margin: 10px
}