.recipe-view {
    display: flex;
    flex-direction: row;
    width: 28vw;
    height: 15vh;
    background-color: #DEE4D8;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px
}

.hide {
    display: none;
}

.active {
    border: 2px solid #53634E;
}
