.ingredient-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
}


.amount-box{
    background-color: white;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    border: none;
}


.ingredient-box{
    background-color: white;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    border: none;
}


.dash-box{
    width: 5%;
    text-align: center;
    line-height: 25px;
}
