.login-container {
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    font-weight: 500;
    background-color: #F2F5EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 

}

.login-section {
    width: 20vw !important;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}


.login-google {
    margin-top: 4vh;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 4vh;
    width: 20vw;
    border: 0px;
}

.login-buttons {
    width: 100%;
    justify-content: center;
    margin: 0;
}

.divider {
    margin-top: 2vh;
    width: 100%;
    background-color: gray;
}

p {
    margin: 0;
    text-align: left;
    color: black;
}

input[type="email"],
input[type="password"] {
    
    padding: 1vh;
    border: 0.1vh solid #000;
    border-radius: 0.5vh;
    background-color: #fff;
}

label {
    display: flex;
    align-items: center;
    color: #000;

}

.login-buttons>button {
    margin-top: 3vh;
    width: 100%;
    padding: 1.5vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    color: white;
    background-color: #42493F;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.login-section label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-section label input[type="checkbox"] {
    margin-right: 1vw;
    color: black !important;
}

.login-section label a {
    margin-left: auto;
}
.exit{
    position: absolute;
    top:0;
    right:0;
    margin-right: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}


.placeholder-image{
    width: 80px;
}