.meal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #53634E;
    border-radius: 25px;
    height: 20vh;
    width: 25vw;
    margin: 10px;
    background-color: #F2F5EB;
}

#img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    height: 15vh;
    width: 10vw;
}

.mealplan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 15vh;
}

#meal-name {
    font-size: 14px;
    font-weight: bold;
    color: #53634E;
    align-self: center;
}

#type-and-time-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

#icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 2vw;
}

#time-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5vw;
}

#type-and-time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #53634E;
    border-radius: 25px;
    height: 3vh;
    width: 9vw;
    margin: 3px;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 8vw;
}

#button {
    border-radius: 50%;
    border: none;
    background-color: #F2F5EB;
    padding: 5px;
}

.typetime {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 15vh;
}

.meal-plan-img{
    object-fit: cover;
}