.hide-button{
    visibility: hidden;
}


.recipe-grid{
    display: grid;
    grid-template-rows: 27.5% 70%;
    grid-template-columns: 62.5% 35%;
    gap: 2.5%;
    width: 100%;

}


.recipe-view-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-instructions-container{
    background-color: #c2ceb7;
    line-height: 20px;
    padding: 20px;
    font-size: medium;
}


.ingredients-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px -2px gray;
}


.recipe-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ingredients-header{
    text-align: center;
    height: 30px;
    line-height: 25px;
    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: #f1f7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ingredients-list{
    line-height: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f1f7eb;
}


.cooktime-calories-container{
    display: flex;
    padding-left: 3px;
}


.align-icons-text{
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-size: medium;
}

h1.align-icons-text{
    font-size: xx-large;
}

.icon-background{
    background-color: black;
    color: white;
    width: 16.5px;
    height: 16.5px; 
    padding: 3px;
    margin-right: 10px;
}


.recipe-header-button{
    background-color: black;
    height: 24px;
    width: 24px;
    margin-left: 10px;
}


.header-icon-style{
    color: white;
    height: 20px;
    width: 20px;
}