.hide-icon{
    visibility: hidden;
}


.users-recipe{
    border-style: solid;
    border-color: lightgrey;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}


.users-recipe-default-color{
    border-style: solid;
    border-color: lightgrey;
    background-color: white;
    color: white;
}


.users-recipe-active-color{
    border-style: none;
    background-color: rgb(21, 101, 53);
    color: rgb(21, 101, 53);
}


.recipe-name{
    color: rgb(21, 101, 53);
    border-bottom: 2px solid rgb(21, 101, 53);
    width: 60%;
}


.recipe-name-default-colors{
    color: rgb(21, 101, 53);
    border-bottom: 2px solid rgb(21, 101, 53);
}


.recipe-name-active-colors{
    color: white;
    border-bottom : none;
}


.recipe-icon-styling{
    height: 13px;
    width: 13px;
    padding-left: 10px;
}


.recipe-icon-default-color{
    color: white;
}

.recipe-icon-active-color{
    color: rgb(21, 101, 53);
}


.recipe-time-calories{
    width: 90%;
    height: 30px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(21, 101, 53);
    border-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}


.recipe-time-calories-default{
    background-color: rgb(21, 101, 53);
}


.recipe-time-calories-active{
    background-color: white;
}