.hide-button{
    visibility: hidden;
}


.the-recipe-grid{
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 70% 25%;
    gap: 5%;
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: white;
    width: 85%;
    padding: 2.5%;
}


.container-for-instructions{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2ceb7;
    height: 70%;
    box-shadow: 0 4px 2px -2px gray;
}

.recipe-instructions{
    background-color: #c2ceb7;
    line-height: 20px;
    padding-left: 30px;
    font-size: large;
}

.recipe-title-container{



    margin-left: 7.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.recipe-ingredients-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
    height: 70%;
}


.the-recipe-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ingredients-container-title{
    text-align: center;
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    line-height: 25px;
    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: #f1f7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}


.recipes-ingredients{
    line-height: 25px;
    height: 470px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f1f7eb;
    font-size: medium;
    box-shadow: 0 4px 2px -2px gray;
}


.cooktime-calories-row{
    display: flex;
    width: 50%;
    gap: 5%;
}


.align-icon-format{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-spacing-cal{
    display: flex;
    justify-content: space-between;

}

.align-icons-title{
    display: flex;
    align-items: center;
}


.icon-button-background{
    background-color: black;
    color: white;
    width: 24px;
    height: 24px; 
    padding: 4px;
    margin-right: 10px;
}


.back-save-button{
    background-color: black;
    height: 24px;
    width: 24px;
    margin-left: 10px;
}


.header-button-icons{
    color: white;
    height: 20px;
    width: 20px;
}

.icon-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.instruction-text{

    display: flex;
    justify-content: start;
    line-height: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    overflow-y: auto;
    word-wrap: break-word;
    height: 80%;
    width: 90%;
}

.alata{
    font-size: 1.6vh;
    font-weight: 500;
}