.signup-container {
    font-family: 'Inter', sans-serif;
    font-size: 1.6vh;
    font-weight: 500;
    background-color: #F2F5EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 2; 

}

input[type="text"],
input[type="email"],
input[type="password"] {

    padding: 1vh;
    border: 0.1vh solid #000;
    border-radius: 0.5vh;
    background-color: #fff;
}

.login-section {
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-top: 0.1vh; 
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.placeholder-image{
    width: 80px;
}