@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Alata&family=Playfair+Display:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
:root{
    --on_primiary_container: #002202;
    --primary: #3D6838;
    --on_primary: #FFFFFF;
    --outline_variant: #C2C8BC;
    --surface_container_low:#F2F5EB;
    --surface_container_lowest: #FFFFFF;
    --on_tertiary_container: #002022;
    --error: #BA1A1A;
    --surface_dim: #D8DBD2;
    --on_teriary: #FFFFFF;
    --on_secondary: #FFFFFF;
    --secondary: #53634E;
    --tertiary: #38656A;
}

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.container{
    display: flex;
    flex-direction: column;
    position:absolute; 
    height:100%;
    width: 100%;
}

.default-header {
    height: 100px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-left: 100px;
    padding: 0;
    background-color: white;
    color: #002202;
    font-size: 20px;
    gap: 40px;
    padding-right: 50px;


    
}

.default-header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
}

div > .link {
    text-decoration: none;
    width: max-content;
    display: inline-flex;
    align-items: center;
}

.dropdown-icon {
    margin-left: 10px;
    font-size: 36px !important;
}

.logo {
    position: absolute;
    top:0;
    left: 40px;
    height: 100px;
    width: 100px;
}

.wrapper{
    display: flex;
    flex: 1;
    min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
    width: 100%;

}

.min-h{
    width: 100%;
    overflow-y: scroll;
}


.default-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background-color: #eef2ef;
    height: fit-content;
    
    
}

.welcome-container{

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: var(--secondary);


}

.faded-image{
    width: 100%;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.5);
}

.eye-catcher{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    width: 75%;
    height: 75%;
    gap: 40px;
}

.eye-catcher-join{
    font-style: normal;
    font-weight: lighter;
    font-size: x-large;
    background-color: var(--primary);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.slanted-background{
    width: fit-content;
    background-color: white;
    padding: 10px 100px;
    border-radius: 50px 5px 50px 5px;
}

.big-title{

    font-size: larger;
    height: 70px;
    
}



.preview-image{
    width: 600px;
    height: auto;
}

.clip-image{
    width: 335px;
    height: auto;
}

.offwhite{
    background-color: #eef2ef;
}

.image-holder{
    border-radius: 150px;
}

.text-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 434.438px;
    border-radius: 150px;
    background-color: #DEE4D8;
}

.ideas{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.interest{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: #DEE4D8;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header1{

    padding: 1.0%;
    border-radius: 10px;
    font-size: 40px;
    font-family: roboto;
    color: var(--secondary);
}

.header2{

    padding: 1.0%;
    border-radius: 10px;
    font-size: 30px;
    font-family: roboto;
    font-weight: lighter;
    color: var(--tertiary);

}

.secondary{
    background-color: var(--secondary);
    color: var(--on_secondary);

}
.tertiary{
    background-color: var(--tertiary);
    color: var(--on_teriary);
    
}


.inverse-secondary{
    background-color: var(--on_secondary);
    color: var(--secondary);
}


.inverse-secondary{

    background-color: var(--on_tertiary);
    color: var(--teriary);
}
.button{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 1%;
    border-radius: 10px;
    height: 10%;
}

.button:hover{
    cursor: pointer;
}

.login-signup-button{
    display: flex;
    justify-content: center;

    border-radius: 10px;
    color: var(--on_primary) !important;
}

.link{
    color: var(--on_primary);
}


.white{
    color: #ffffff;
}

.mid-section{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;


}

.picture-half{
    width: 45%;
    height: auto;
}

.text-half{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: auto;
    background-color: white;
    gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.mid-header{

    font-size: smaller;
    font-weight: 100;
    border-bottom: 4px solid #000000;
    padding-bottom: 50px;
    width: 50%;
    text-align: center;
}

.mid-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 60%;
    text-align: center;
}


.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    height: 30%;

}


.carousel-options{

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 3px solid black;
    width: 60%;
    padding-top: 5%;



}

.carousel-options:hover{

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 3px solid black;
    width: 60%;
    padding-top: 5%;
    cursor: pointer;


}


.c-option{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    width: 33.33%;
    padding-left: 10%;
    padding-right: 10%;
}


.carousel-hightlight{
    background-color: var(--primary);
    color: var(--on_primary);
}


.carousel-inverse{
    background-color: white;
    color: var(--on_primiary_container);
}



.carousel-content{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 40px;
    min-height: 250px;

}


.picture-caro{

    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.carousel-descr{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    text-align: center;


}

.carousel-header{
    font-size: smaller;

}

.carousel-text{
    font-size: medium;
}

.caro-pic-holder{
    height: 100%;
    width: 20%;
}


.join-button{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    height: 5%;

}

.footer{
    display: flex;
    flex-direction: row;
    background-color: var(--on_primiary_container);
    height: 200px;
    width: 100%;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.footer-logo{
    width: 20%;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: large;

}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-pages{
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; 
    gap: 10px;
    width: 30%;
    font-size: large;
}

.footer-spacer{
    width: 1%;
    height: 1px
}

.primary{
    background-color: var(--primary);
    color: var(--on_secondary);
}

.content{

    border-bottom: 1px solid var(--outline_variant);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.footer-content{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-contact{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mid-spacer{

    color: var(--on_primary);
    height: 100px;
}


.white-background{
    background-color: white;
}

.middle-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-top{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
    background-color: white;
    gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}


.team-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.team-header{

    font-size: larger;
    font-weight: 100;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

.team-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;

}

.team-member-picture{
    width: 300px;

   
}

.team-member-bio{
    font-size: x-small;
    text-align: center;
    line-height: 2.0;
    padding: 3px 3px 3px 3px;

}

.team-member-header{
    border-bottom: 1px solid black;
    font-size: x-large;
    text-align: center;
}

.team-member-cont{

    width: 300px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}