.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #002202;
    font-size: 20px;
    padding: 0 20px;
    margin-left: 250px;

}

.header>div {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width:180px;
}

.link {
    text-decoration: none;
    color: #002202 !important;
    text-decoration: none;
    color: inherit;
}

.dropdown-icon {
    margin-left: 10px;
    font-size: 36px !important;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
}

.account {
    display: flex;
    align-items: center;

}

.avatar {
    margin-right: 20px;
}

.active-link {
    background-color: #f0f0f0;
    height: 100%;
    padding: 20px;

}

.header>div {
    padding: 20px;
}

.dropdown-trigger {
    cursor: pointer;
}